<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727966763769-7eg21o44gb6knbo3297vo7p91q6jgpfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727966763769-7eg21o44gb6knbo3297vo7p91q6jgpfe</string>
	<key>API_KEY</key>
	<string>AIzaSyDw5mKtTZd9US9-3s8bld3pr-F306SRe88</string>
	<key>GCM_SENDER_ID</key>
	<string>727966763769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosdevschool.iOSDevUK</string>
	<key>PROJECT_ID</key>
	<string>iosdevuk-684dd</string>
	<key>STORAGE_BUCKET</key>
	<string>iosdevuk-684dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727966763769:ios:59f4ae7da5333a3370b028</string>
</dict>
</plist>